PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/pixelcritic
CLIENT_URL=http://localhost:3000

# Twitch / IGDB
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Auth
JWT_SECRET=
JWT_EXPIRE=30d
